.rating-container {
    // max-width: 750px;
    padding-left: 10px;
    position: absolute;
}
.rating-single-container, .submitted-rating {
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 15px;
}
h3:first-of-type {
    margin-top: 0;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}