

<div class="row">
    <div class="rating-container">
      <h3>Neue Hotelbewertung verfassen</h3>
      <div class="">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group"
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
            <label for="name">
              <p>Name:</p>
            </label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              ngModel
              #name="ngModel"
              required>
              <span *ngIf="!name.valid && name.touched">Bitte gib einen Namen ein!</span>
            </div>
            <label for="text">
              <p>Text:</p>
            </label>
            <input
            type="text"
            class="form-control"
            id="text"
            name="text"
            ngModel
            #text="ngModel"
            required>
            <span *ngIf="!text.valid && text.touched">Bitte gib einen Text ein!<br></span>
            <br>
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="!f.valid">
                Bewertung jetzt abgeben</button>
            </form>
            </div>
            <h3>Das sagen unsere Gäste</h3>
            <div *ngFor="let rating of ratings" class="rating-single-container">
              <p>{{rating.text}}</p>
              <p>
                <b>- {{rating.name}}</b>
              </p>
            </div>


              <br>
              <div *ngIf="submitted">
              <h3>Du hast das Hotel erfolgreich bewertet:</h3>
              <div class="rating-single-container">
                <p>{{text.value}}</p>
                <p>
                  <b>- {{name.value}}</b>
                </p>
              </div>
            </div>



          </div>
          <br>
          </div>
  
  