
<div class="rating-container">
    <h2><u>Hotelbewertungen</u></h2>
  <div *ngFor="let rating of ratings" class="rating-single-container">
    <p><b>{{rating.name}}</b></p>
    <p>{{rating.text}}</p>
  </div>
  <div [hidden]="!submitted" class="submitted-rating">
      <h2>Du hast das Hotel erfolgreich bewertet:</h2>
      <p><b>Name:</b></p>
      <p>{{ userRating.name }}</p>
      <p><b>Text:</b></p>
      <p>{{ userRating.text }}</p>
      <!-- <button class="btn btn-primary" (click)="submitted=false">Bewertung bearbeiten</button> -->
    </div>
  <h3>Neue Hotelbewertung verfassen</h3>
  <div class="">
    <form (ngSubmit)="onSubmit()" #ratingForm="ngForm">
      <div class="form-group">
        <label for="name"><p>Name:</p></label>
        <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="userRating.name"
          name="name"
          #name="ngModel">
      </div>
  
      <div class="form-group">
        <label for="text"><p>Text:</p></label>
        <input type="text" class="form-control" id="text"
          required
          [(ngModel)]="userRating.text" name="text"
          #text="ngModel">
      </div>
      <br>
      <button type="submit" (click)="addNewRating()">Bewertung jetzt abgeben</button>
    </form>
  </div>
</div>
<br>


